<!DOCTYPE html>
<html ng-app="play-torrent">
  <head>
    <meta charset="UTF-8">
    <title>Play torrent!</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="node_modules/angular/angular.min.js"></script>
  </head>
  <body>
    <div ng-controller="TorrentCtrl as torrentCtrl">
      <h1>Search a torrent!</h1>
      <input type="text" name="search" ng-model="torrentCtrl.term">
      <button ng-click="torrentCtrl.search()">click me</button>
      <p>Downloaded: {{ downloaded }}</p>
      <p>Speed: {{ speed }}</p>
      <ul>
        <li ng-repeat="torrent in torrentCtrl.list">
          <p><a href="#" ng-click="torrentCtrl.loadTorrent(torrent.torrent_link)">{{ torrent.title }}</a>, quality: {{ torrent.quality }}, seeds: {{ torrent.seeds }}, leechers: {{ torrent.leechers }}</p>
        </li>
      </ul>
    </div>

    <script>
      require('./renderer.js')
    </script>
  </body>

</html>
