<!DOCTYPE html>
<html ng-app="play-torrent">
  <head>
    <meta charset="UTF-8">
    <title>Play torrent!</title>
    <script src="node_modules/angular/angular.min.js"></script>
  </head>
  <body>
    <div ng-controller="TorrentCtrl as torrentCtrl">
      <h1>Search a torrent!</h1>
      <input id="search-input" type="text" name="search" ng-model="torrentCtrl.term">
      <button id="search-button" ng-click="torrentCtrl.search(torrentCtrl.term)">click me</button>
      <ul id="torrent-list">
        <li ng-repeat="torrent in torrentCtrl.list">
          <p>{{ torrent.title }}</p>
        </li>
      </ul>
    </div>

    <script>
      // You can also require other files to run in this process
      require('./renderer.js')
    </script>
  </body>

</html>
